@using Bakery.Models
@model Bakery.ViewModels.UserViewModel

<table>
  <thead>
    <tr>
      <th style='width: 10%'>ID</th>
      <th>Name</th>
      <th style='width: 12%'>Treats</th>
      <th style='width: 20%'></th>
    </tr>
  </thead>
  <tbody>
@foreach (Flavor f in Model.Flavors)
{
  <tr>
    <td>@f.FlavorId</td>
    <td>@f.Name</td>
    <td>@f.JoinEntities.Count</td>
    <td>
      @Html.ActionLink("Details", "Details", "Flavors", new { id = f.FlavorId })
      @if (Model.UserId == f.User.Id)
      {
        <span> | </span>
        @Html.ActionLink("Edit", "Edit", "Flavors", new { id = f.FlavorId })
        <span> | </span>
        @Html.ActionLink("Delete", "Delete", "Flavors", new { id = f.FlavorId }) 
      }
    </td>
  </tr>
}
  </tbody>
</table>
