@using Bakery.Models
@model Bakery.ViewModels.UserViewModel

<table>
  <thead>
    <tr>
      <th style='width: 10%'>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th style='width: 12%'>Flavors</th>
      <th style='width: 20%'></th>
    </tr>
  </thead>
  <tbody>
@foreach (Treat t in Model.Treats)
{
  <tr>
    <td>@t.TreatId</td>
    <td>@t.Name</td>
    <td>@t.Description</td>
    <td>@t.JoinEntities.Count</td>
    <td>
      @Html.ActionLink("Details", "Details", "Treats", new { id = t.TreatId })
      @if (Model.UserId == t.User.Id)
      {
        <span> | </span>
        @Html.ActionLink("Edit", "Edit", "Treats", new { id = t.TreatId })
        <span> | </span>
        @Html.ActionLink("Delete", "Delete", "Treats", new { id = t.TreatId })
      }
    </td>
  </tr>
}
  </tbody>
</table>

